<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.palladiosimulator.examples.package Target Platform" sequenceNumber="1">
<locations>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/commons/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/commons/nightly/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.pcm" version="0.0.0"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/palladio/pcm/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.pcm" version="0.0.0"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/palladio/pcm/nightly/"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.architecturaltemplates" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.architecturaltemplates" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/branches/no_ui-workflow"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.modelversioning.emfprofile" version="0.0.0"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/emf-profiles/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.modelversioning.emfprofile" version="0.0.0"/>
			<repository location="https://sdqweb.ipd.kit.edu/eclipse/emf-profiles/nightly/"/>
		</location>

</locations>
</target>
