			<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/releases/latest/"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/branches/release5.2.0/"/>
