<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.architecturaltemplates.catalogs">
      <ATCatalog
            catalogURI="platform:/plugin/org.palladiosimulator.examples.package/Examples.architecturaltemplates#GeneratedATCatalog">
      </ATCatalog>
   </extension>
</plugin>
